<div class="container-fluid content ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-header">
          <h2>Login</h2>
        </div>
        <div class="card-body">
          <div class="alert alert-success alert-dismissible fade show " *ngIf="successMessage.length > 0" role="alert">
            {{ successMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="loginForm">
        <div class="form-row">
          <label for="username" class="col-sm-2 col-form-label">Username</label>
          <div class="col">
            <input type="text" class="form-control"
              [ngClass]="{'invalid' : loginForm.get('username').invalid && (loginForm.get('username').touched) }"
              [pattern]="usernameRegex" placeholder="Username" [minlength]="8" [maxlength]="20" formControlName="username"
              #username>
            <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched)"
              class="hasError">
              <div *ngIf="loginForm.get('username').hasError('required')">
                <div class=" show-error-msg">
                  <small>This field is required</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <label for="Password" class="col-sm-2 col-form-label">Password</label>
          <div class="col">
            <input type="password"
              [ngClass]="{'invalid' : loginForm.get('password').invalid && (loginForm.get('password').touched) }"
              [pattern]="passwordRegex" class="form-control" placeholder="Password" formControlName="password" [minlength]="8"
              [maxlength]="30" #password>
            <div
              *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
              class="hasError">
              <div *ngIf="loginForm.get('password').hasError('required')">
                <div class=" show-error-msg">
                  <small>This field is required</small>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- <div class="forgot-credentials">
            <div>
              Forgot
              <a href="#" class="forgot-text">
               Username 
              </a>or
                <a href="#" class="forgot-text">
                  Password?
                </a>
            </div>
          </div> -->
          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="form-row">
            <div class="col form-button">
              <button type="button" (click)="loginUser(username.value, password.value)"  class="btn btn-primary">Login</button>
            </div>
          </div>
            <div class="register">
              <div>
                Not a member?
                <a routerLink="/register" class="register-text">
                 Register
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>