/* You can add global styles to this file, and also import other style files */
input:focus,
input:active{
     outline:0 !important;
    box-shadow: none !important;
}
.form-button button:focus{
    outline:0 !important;
    box-shadow: none !important;
}
.content{
    /* margin: 5% 0;  } */
        width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    background: #ebeeef;}

.card{
    width: 670px;
    border: 0px;
    height: auto;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
} 


.form-row{
    margin-bottom: 15px;
}
.form-button{
    justify-content: center;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.form-button button{
        display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.forgot-credentials{
    padding: 15px 0 30px 0;
    font-size: 13px;
    line-height: 1.4;
}
.forgot-credentials a{
     color: #0061aa;
   text-decoration: underline;
}
.register{
    text-align: center;
    font-size: 13px;
    line-height: 1.4;
}
.register a{
    color: #0061aa;
   text-decoration: underline;
}
.show-error-msg{
    color: red;
    height:auto;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
.service-error-msg{
    color: red;
    height:auto;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
.invalid {
    border: 1px solid red!important;
}
.navbar{
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
        margin-bottom: 5rem;
}

.form-row{
    margin : 15px 0;
}
@media (min-width: 768px){
    form {
    padding: 0 50px 50px 50px;
}
}



